{% extends "base.html" %}
{% block title %}Menu Item information{% endblock %}
{% block content %}
<main class="table" >
    <section class="table__header">
        <h1>Menu Item</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="assets/images/icon-search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Name <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Description <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Price</th>
                    {% if user == "admin" %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in menu_items %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    {% if user == "admin" %}
                    <td>
                        <form action="/update-menu" method="get">
                            <input type="hidden" name="items_id" value="{{item[0]}}">
                            <button id="updateButton" type="submit">Update</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</main>
{% endblock %}

{% block script %}
<script>
    function myFunction(form) {
        if (confirm("Are you sure you want to delete?")) {
            // User clicked OK, submit the form
            form.submit();
            window.alert("Complete");
        } else {
            // User clicked Cancel, do nothing
        }
    }
</script>
{% endblock %}
